body {
	background-color: white;
	font-family: 'montserrat';
	padding: 3em;
}

#v0 {
position: fixed;
top: 0;
left: 0;
width: 100%;

}

#set-height {
display: block;
}


section {
	z-index: 1;
	position: relative;
}


.content {
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 33%;
}

h1 {
	font-size: 3em;
	color: white;
	background: black;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 0;
}

p {
	font-size: 2em;
	background-color: tomato;
	color: black;
	padding: 5px 5px
	width: 200px; 
}